/* Responsivo */
@media(max-width: 768px){
    .cs-widget[id="a2fae744-081d-4669-822f-853b753c40b7"] .text-editor h2{
      font-size: 48px;
    }
    .cs-section[id="20a809ac-b321-41bb-a7f4-02a4dc89b29e"] .cs-section-inner{
      display: flex;
    }
    .cs-box[id="e78a7e30-d48f-4d81-84c0-715a2173b311"]{
      order: -1;
    }
    .cs-box[id="3fa93acd-98a2-40ef-9ce4-88d27246fb0e"]{
      order: -1;
    }
}