/* Correção - tela que rola horizontalmente */
body{
  overflow-x: hidden;
}
   
/* borda - Fotos 2ª divisão */
#e82cc380-4cf5-4d60-ae61-2b865e80bba6 img{
    border-radius: 3px;
}
   
/* "Solicitar Orçamento" - Seta de click e background hover */
.cs-section[id="358dda31-bd1f-4bd8-8755-75e38c54f61d"] .cs-section-inner:hover {
    cursor: pointer;
    background-color: #262626;
}
   
/* Formulário escondido por padrão */
[id="0514a1cb-a222-4696-9d25-4a56b464f96b"]{
    height: 0;
    overflow: hidden;
    transition: height 1s ease;
}
   
/* Botão "Solicitar Orçamento" */
.solOrc {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: grey;
}

.solOrc:hover {
    cursor: pointer;
    background-color: #262626;
}

#botaoFixado {
    position: fixed;
    bottom: 0;
    right: 30px;
}
   
/* Site Responsivo */
@media(max-width: 768px){
   
   /* exclui o espaço entre o título */
     .cs-widget[id="4b3a6760-1ed8-42a8-b74b-caad89153138"] .espacador{
       display: none;
     }
   
   /* aumenta background - 1ª divisao */
     .cs-section[id="1f14d81a-ed4b-4d09-9b83-6d5365550657"] .cs-section-inner{
       min-height: 500px;
       background-size: 160% auto;
     }
   
   /* Diminui 1ª divisão */
     .cs-section[id="1f14d81a-ed4b-4d09-9b83-6d5365550657"]{
       min-height: 500px;
     }
   
   /* Exclui espaço do início - divisão 2 */
     .cs-widget[id="47177366-5964-4c8b-a86c-0a495bc0b510"]{
       display: none;
     }
   
   /* Diminui tamanho da fonte - divisão 2 */
     .cs-widget[id="73287537-8cc1-4fbf-868e-6743b5a99fe7"] .text-editor p span em{
       font-size: 92%;
     }
   
   /* Exclui espaço do fim - divisão 2 */
     .cs-widget[id="6f9fa469-de0a-4888-8d3e-75b2781680ea"]{
       display: none;
     }
   
   /* aumenta tamanho do carousel */
     .w-100{
       width: 150%!important;
     }
   
   /* Corrige posição das imagens - carousel */
     .carousel-item{
       left: -25%;
     }
   
   /* Diminui fonte do "Solicitar Orçamento" */
     .cs-text-widget[id="856ad137-2e2c-4315-b071-e46831156e5a"] .text-editor h2{
       font-size: 38px;
     }

 }