// Comando para editar:
// Deve fazer uma cópia deste arquivo para "produtos-estilo-*nomeDaLinha*-config.scss"
// sass --watch sass/produtos-estilo-*nomeDaLinha*-config.scss:css/produtos-estilo-*nomeDaLinha*.css
// Acessar js/produtos-script.js para continuar as configurações

// ~ CONFIGURAÇÃO ~ Área do Sass
// TODOS - USAR ID DA 1ª TAG

// Segunda divisão
$segundaDivisao: "[id='']";

// Quarta divisão
$quartaDivisao-solicitarOrcamento: ".cs-section[id=''] .cs-section-inner";

// Formulário (div das caixas)
$formularioCaixas: "[id='']";


// ~ RESPONSIVO ~
// TODOS (1 exceção) - USAR ID DA ÚLTIMA TAG

// Espaço (antes do título)
$espacadorPrimeiraDivisao: ".cs-widget[id='']";

// ID da section do Background (primeira divisão) - (Dixar o background-size em 100% caso o conteúdo da img seja grande.)
$idSectionPrimeiraDivisao: ".cs-section[id='']"; // USAR ID DA 1ª TAG

@mixin zoomBackgroundResp{

    min-height: 500px;
    background-size: 160% auto;

}

// Espaço de cima (segunda divisão)
$espacoCimaSegDiv: ".cs-widget[id='']";

// Texto (segunda divisão)
$textoSegDiv: ".cs-widget[id=''] .text-editor";

// Espaço de baixo (segunda divisão)
$espacadorSegundaDivisao: ".cs-widget[id='']";

// div do "Solicitar Orçamento" (h2) (quarta divisão)
$SolicitarOrcamentoTitulo: ".cs-text-widget[id='']";


/* Carregado do Sass */
@import "produtos-estilo";
